# Ignore log files
*.log

# Ignore session files
*.session
*.session-journal

# Ignore the entire photos directory
photos/

# Ignore CSV files
telegram_data.csv
cleaned_telegram_data.csv

# Ignore Jupyter notebooks in the notebooks directory
notebooks/*.cv

# Ignore Python scripts in the scripts directory
scripts/*.csv
